@model FarmCentralStock.Models.UserRoleMapping

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserRoleMapping</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Role.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Role.Role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
